local DM = system.drawMenu
local n = 1
while true do
  n=DM({"Program Remover", "File Manager Settings", "Program Store Settings","System Info", "Exit"}, "Control Panel\n", n)
  if n==5 then break
  elseif n==1 then
    while true do
      local progs = system.get("programs")
      local active = {}
      for i=1,#progs do
        table.insert(active, progs[i][1])
      end
      table.insert(active, "Exit")
      n=DM(active, "Select Program to remove:\n", n)
      if n==#active then 
        break
      else
        shell.run("apt remove "..system.get("programs")[n][4])
        sleep(1)
      end 
    end
    n=1
  elseif n==2 then
    n=1
    while true do
      local set = system.get("fileMgr")
      local tmp = {table.unpack(set.proguf)}
      table.insert(tmp, "New..")
      table.insert(tmp, "Exit")
      n=DM(tmp, "Select an option to remove it:\n", n)
      if n<4 or n==#set.proguf then
        print("Cannot remove that option.")
        sleep(1)
      elseif n<#set.proguf then
        table.remove(set.proguf, n)
        table.remove(set.prog, n)
        system.set("fileMgr", set)
      elseif n==#set.proguf+1 then
        print("You will now use the file manager to select a program file.")
        print("Press any key to continue...")
        os.pullEvent("key")
        table.insert(set.prog, #set.prog, loadfile(system.dir.."/programs/fileMgr", _ENV)("-select"))
        print("Name of program "..fs.getName(set.prog[#set.prog-1]))
        table.insert(set.proguf, #set.proguf, read())
        system.set("fileMgr", set)
      else
        break
      end
    end
    n=2
    system.saveSettings()
  elseif n==3 then
    n=1
    while true do
      local apt = system.get("apt")
      n=DM({"Exit", "Add repo",table.unpack(apt.repo)}, "Select a repo to remove it or an option to...uh...execute it?\n",n)
      if n==1 then break
      elseif n==2 then
        write("Computer ID of repo:")
        shell.run("apt addrepo", read())
        sleep(1.5)
      else 
	    table.remove(apt.repo, n-3)
      end
    end
    system.saveSettings()
    n=3
  elseif n==4 then
    local p="SimOS version "..system.get("version").."\nRunning on "
    if os.computerLabel() then
      p=p..os.computerLabel().." with ID "..os.computerID()..".\n"
    else
      p=p.."unlabeled computer "..os.computerID()..".\n"
    end
    p=p.."Installed in "..system.dir.."\n"
	n=2
    while true do
      n=DM({"Toggle SimOS disk booter", "Done"}, p, n)
      if n==1 then
        if settings.get("SimOS.UEFI") then
          settings.unset("SimOS.UEFI")
          system.log("Disabled SimOS UEFI.")
          print("Disabled.")
        else
          settings.set("SimOS.UEFI", true)
          system.log("Enabled SimOS UEFI.")
          print("Enabled.")
        end
        settings.save(".settings")
        print("SimOS must be restarted for the setting to take effect.")
        sleep(2)
      else 
	    n=4
        break
      end
	end
	n=4
  end
end

