local DM = system.drawMenu
local n = 1
while true do
  n=DM({"Program Remover", "File Manager Settings", "Program Store Settings", "System Settings","System Info", "Exit"}, "Control Panel\n", n)
  if n==6 then break
  elseif n==1 then
    while true do
      local progs = system.get("programs")
      local active = {}
      for i=1,#progs do
        table.insert(active, progs[i][1])
      end
      table.insert(active, "Exit")
      n=DM(active, "Select Program to remove:\n", n)
      if n==#active then 
        break
      else
        shell.run("apt remove "..system.get("programs")[n][4])
        sleep(1)
      end 
    end
    n=1
  elseif n==2 then
    n=1
    while true do
      local set = system.get("fileMgr")
      local tmp = {table.unpack(set.proguf)}
      table.insert(tmp, "New..")
      table.insert(tmp, "Exit")
      n=DM(tmp, "Select an option to remove it:\n")
      if n<5 or n==#set.proguf then
        print("Cannot remove that option.")
        sleep(1)
      elseif n<#set.proguf then
        table.remove(set.proguf, n)
        table.remove(set.prog, n)
        system.set("fileMgr", set)
      elseif n==#set.proguf+1 then
        print("You will now use the file manager to select a program file.")
        print("Press any key to continue...")
        os.pullEvent("key")
        table.insert(set.prog, #set.prog, loadfile(system.dir.."/programs/fileMgr", _ENV)("-select"))
        print("Name of program "..fs.getName(set.prog[#set.prog-1]))
        table.insert(set.proguf, #set.proguf, read())
        system.set("fileMgr", set)
      else
        break
      end
    end
    n=2
    system.saveSettings()
  elseif n==3 then
    n=1
    while true do
      local apt = system.get("apt")
      n=DM({"Exit", "Clear package cache", "Add repo",table.unpack(apt.repo)}, "Select a repo to remove it or an option to...uh...execute it?\n",n)
      if n==1 then break
      elseif n==2 then
        apt.pkl = {}
        system.set("apt", apt)
        system.saveSettings()
      elseif n==3 then
        write("Computer ID of repo:")
        shell.run("apt addrepo", read())
        sleep(1.5)
      else table.remove(apt, n-3)
      end
    end
    system.saveSettings()
    n=4
  elseif n==5 then
      local p="SimOS version "..system.get("version").."\nRunning on "
      if os.computerLabel() then
        p=p..os.computerLabel().." with ID "..os.computerID()..".\n"
      else
        p=p.."unlabeled computer "..os.computerID()..".\n"
      end
      p=p.."Installed in "..system.dir.."\n"
      DM({"OK"}, p)
  elseif n==4 then
    n=1
    while true do
      n=DM({"Change program exit pause time", "Reset SimOS path detector", "Toggle SimOS disk booter", "Done"},n)
      if n==1 then
        write("New value(in seconds):")
        local val = tonumber(read())
        if not val then
          print("Not a number.")
        else
          system.set("endwait", val)
          print("Changed the value.")
        end
        sleep(1.3)
      elseif n==2 then
        settings.unset("SimOS.location")
        settings.save(".settings")
        print("SimOS must be restarted for the change to take effect.")
        sleep(2)
      elseif n==3 then
        if settings.get("SimOS.UEFI") then
         settings.unset("SimOS.UEFI")
         print("Disabled.")
       else
         settings.set("SimOS.UEFI", true)
         print("Enabled.")
       end
         settings.save(".settings")
         print("SimOS must be restarted for the setting to take effect.")
         sleep(2)
      else break
      end
    end
  end
end
